.navbar-brand{
    font-weight: 700;
}
.container > img{
    width: 35%;
    height: 35%;
    float: right;
    padding: 35px 0 0 0;
}
.nav-link:hover{
    transform: scale(1.05);
}
div.card{
    display: flex;
    flex-wrap: wrap
}
img.chatt{
    padding: 0 0 5px 5px;
}
