.navbar-brand{
    font-weight: 700;
}
.container-fluid{
    background-color: rgba(230, 230, 230, 0.788);
}
.container{
    width:100%;
    width: 1200px;
    height: 100%;
    max-height: 1000px;
    padding: 30px 0 0 0;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #000;
    border-radius: 10px;
}
.container-k{
    width: 700px;
    height: 600px;
    float: right;
    padding: 0 25px 0 0;
    border: 4px solid #000;
    border-radius: 10px;
}
.container-l{
    width: 400px;
    height: 200px;
    float: left;
    padding: 0 0 0 25px;
}
.aktiviteter{
    
    display: inline-block;
}
.img{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 120px 55px 0 0;
}
.nav-link:hover{
    transform: scale(1.05);
}
/*div.card{
    display: inline-block;
}*/
img.chatt{
    padding: 0 0 5px 5px;
}



/* javascript html */

img.svg{
    height: 2.5%;
    width: 2.5%;
    border: 1px solid #000;
}
.col{
    overflow:auto;
    height: 100%;
    max-height: 500px;
}

